<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mc.mcmodules">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
    <intent-filter>
         <action android:name="android.intent.action.MAIN" />

         <category android:name="android.intent.category.LAUNCHER" />
     </intent-filter>

    android:theme="@style/AppTheme.NoActionBar"
    android:icon="@mipmap/ic_launcher"
    -->

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.logcat.views.activities.LogcatActivity"
            android:exported="true" />
        <activity
            android:name=".view.pinhc.activity.ActLoadURL"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.pinhc.activity.ActPinHC"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.ActTest"
            android:configChanges="screenSize|orientation"
            android:exported="true">
            <!-- Modo app ->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!- -->
        </activity>
        <activity
            android:name=".view.firma.FirmaActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.scanine.ActScanCodes"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.scanine.ActOCRINE"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.scaninereverso.ActOCRINEREVERSO"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.escanergenerico.activity.ActOCRDocs"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.firmae.ActPinE"
            android:configChanges="screenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".view.camera.activity.ActCam"
            android:exported="true" />
        <activity
            android:name=".view.camera.activity.ActEditorBitmap"
            android:exported="true" />
    </application>

</manifest>